body {
    background-color: #BBBBBB;
}

#game-container {
  position: absolute;
  left: 200px;
  top: 100px;
}

.game-cellule {
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
}

.game-cellule:hover {
  background-color: yellow;
}
