body {
    background-color: #FFFFFF;
}

#game-container {
  position: absolute;
  left: 200px;
  top: 100px;
}

.game-dot {
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 17px;
    background-color: white;
    border: 1px solid #CCC;
    z-index: 1;
    transform: translate(-1px, -1px);
}

.game-hline {
    position: absolute;
    width: 80px;
    height: 16px;
    border-radius: 16px;
}

.game-vline {
    position: absolute;
    width: 16px;
    height: 80px;
    border-radius: 16px;
}

.game-line-empty {
  background-color: lightgray;
  cursor: pointer;
}
.game-line-full {
  background-color: black;
}

.game-line-empty.game-turn-red:hover {
  background-color: red;
}
.game-line-empty.game-turn-blue:hover {
  background-color: blue;
}
